/* #region CSS custom properties */
:root {
  /* Fonts */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Colors */
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --green: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --white-input-text: rgba(255, 255, 255, 0.6);
  --white-input-border: rgba(255, 255, 255, 0.3);
  --modal-background: #fcfcfc;
  --btn-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  --icon-close_bg: rgba(0, 0, 0, 0.1);
}

/* #endregion CSS custom properties */

/* #region Base styles */
body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(var(--text), 1);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion Base styles */
/* #region Common styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* #endregion Common styles */

/* #region Header */
header {
  border-bottom: 1px solid var(--accent);
}

/* Logo */
.logo {
  flex-grow: 1;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
  padding: 24px 0;
}

.logo-accent {
  color: var(--primary-brand);
}

/* Site nav */
.header-menu-link {
  position: relative;
  min-width: 48px;
  display: block;
  font-weight: 500;
  color: var(--dark);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
}

.header-menu-link.current::after {
  background-color: var(--pressed-state);
}

.header .container {
  display: flex;
  align-items: center;
  background: var(--white);
}

.header-menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 40px;
  margin-right: auto;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address-link {
  display: block;
}

@media screen and (max-width: 767px) {
  .header-menu-list {
    display: none;
  }

  .address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-menu {
    justify-content: normal;
  }

  .logo {
    flex-grow: 0;
    margin-right: 120px;
  }

  .address-item {
    min-width: 119px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .address-item {
    min-width: 151px;
  }
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

/* #endregion Header*/
/* #region Hero */
.hero {
  max-width: 428px;
  padding: 112px 0;
  text-align: center;
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-bg_mob@2x.jpg");
  }
}

.main-title {
  max-width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--white);
  margin: 0 auto 72px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-bg_tab@1x.jpg");
  }

  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-bg_tab@2x.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-bg_desk@1x.jpg");
  }

  .main-title {
    margin: 0 auto 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-bg_desk@2x.jpg");
  }
}

.btn {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--primary-brand);
  border-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state);
}

/* #endregion Hero*/
/* #region Benefits */

.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-list {
  display: flex;
}

.benefits-item-icon {
  display: none;
}

.benefits-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 8px;
}

.benefits-desc {
  font-weight: 500;
  max-width: 396px;
}

@media screen and (max-width: 767px) {
  .benefits-list {
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-caption {
    text-align: start;
  }

  .benefits-desc {
    max-width: 356px;
  }
}

@media screen and (min-width: 1158px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .benefits-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    border-radius: 4px;
    margin-bottom: 8px;
    max-width: 264px;
    padding: 24px 0;
  }

  .benefits-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--dark);
    margin-bottom: 8px;
  }

  .benefits-desc {
    font-weight: 400;
    max-width: 264px;
  }
}

/* #endregion Benefits */
/* #region Work */
@media screen and (max-width: 1157px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .work {
    padding-bottom: 120px;
  }

  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
    margin-bottom: 72px;
  }

  .work-list {
    display: flex;
    gap: 24px;
  }
}

/* #endregion Work */
/* #region Team */
.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .team-list {
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
}

.socials-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

.social-icon {
  fill: var(--white);
}

.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

/* #endregion Team */
/* #region Customers */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
  align-items: center;
}

.customers-thumb {
  width: 190px;
  height: 88px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }

  .customers-thumb {
    width: 168px;
  }
}

@media screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state);
}

.customers-icon {
  fill: var(--subtle-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--pressed-state);
}

/* #endregion Customers */

/* #region Footer */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark);
}

.footer-thumb {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .footer-thumb {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    align-items: baseline;
    padding: 0 92px;
  }

  .footer-socials {
    align-items: start;
  }

  .footer-nav {
    align-items: start;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-thumb {
    display: flex;
    gap: 0;
    padding: 0 15px;
  }

  .footer-nav {
    margin-right: 120px;
  }
}

.footer-logo {
  display: flex;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
  margin: 0;
}

.footer-text {
  max-width: 264px;
  color: var(--light);
  /* margin-top: 16px; */
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.logo-footer-accent {
  color: var(--light);
}

.footer-socials-title {
  font-size: inherit;
  font-weight: 500;
  color: var(--white);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: var(--light);
}

/* #endregion Footer */

/* #region Portfolio */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  justify-content: flex-start;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .buttons-list {
    margin-bottom: 72px;
  }
}

.filter-btn {
  min-width: 69px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-brand);
  background-color: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  padding: 16px 24px;
  transition: box-shadow, color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

/* #endregion Portfolio */
/* #region All-filters */

.filter-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .filter-list {
    flex-direction: column;
    gap: 48px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
      flex-wrap: wrap;
      row-gap: 72px;
      column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
  .filter-list {
      row-gap: 48px;
      column-gap: 24px;
    }
  }
/* .filter-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
} */

@media screen and (min-width: 768px) {
  .filter-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .filter-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

.filter-text-box {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.filter-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark);
  margin-bottom: 8px;
}

.filter-link .filter-text-box {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover .filter-text-box,
.filter-link:focus .filter-text-box {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.image-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-filter-item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--primary-brand);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover .overlay-filter-item,
.filter-link:focus .overlay-filter-item {
  transform: translateY(0);
}

.overlay-text {
  color: var(--light);
}

/* #endregion All-filters */

/* #region Modal-window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-overlay);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 392px;
  width: 90%;
  min-height: 584px;
  background-color: var(--modal-background);
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: var(--accent);
  border: 1px solid var(--icon-close_bg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--pressed-state);
  border-color: transparent;
}

.icon-close {
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .icon-close,
.close-button:focus .icon-close {
  fill: var(--white);
}

/* Modal form */
.modal-caption {
  max-width: 360px;
  font-weight: 500;
  text-align: center;
  color: var(--dark);
  margin-bottom: 16px;
}

.form-textarea {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  padding: 8px 16px;
  height: 120px;
  border: 1px solid var(--modal-overlay);
  border-radius: 4px;
  resize: none;
  outline: transparent;
}

.form-textarea::placeholder {
  color: var(--modal-overlay);
}

.form-textarea:focus {
  border-color: var(--primary-brand);
}

.form-wrapper {
  margin-bottom: 8px;
}

.form-comment-wrapper {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.form-field {
  position: relative;
  margin-top: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-overlay);
  border-radius: 4px;
  padding: 8px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--primary-brand);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--primary-brand);
}

.form-agreement {
  width: 100%;
  margin-bottom: 24px;
}

.form-agreement-label {
  display: block;
  height: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.form-agreement-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--modal-overlay);
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked
  + .form-agreement-label
  .form-agreement-checkbox {
  background-color: var(--pressed-state);
}

.form-agreement-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked
  + .form-agreement-label
  .form-agreement-checkbox
  .form-agreement-icon {
  fill: var(--light);
}

.form-agreement-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--primary-brand);
}

.form-button {
  display: block;
  margin: 0 auto;
}

/* #endregion Modal-window */
/* #region Footer-form */
.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-form-thumb {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-form-title {
  font-size: inherit;
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

.footer-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-input-text);
  border: 1px solid var(--white-input-border);
  border-radius: 4px;
  min-width: 264px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .footer-input {
    min-width: 397px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form-wrapper {
    flex-direction: row;
    gap: 24px;
  }

  .footer-form-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-input {
    color: var(--white);
    border-color: var(--white);
  }
}

.footer-input:focus {
  border-color: var(--primary-brand);
}

.footer-input::placeholder {
  color: inherit;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
}

.footer-subscribe-icon {
  fill: var(--white);
}

/* #endregion Footer-form */
/* #region Mobile-menu */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--white);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--icon-close_bg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  min-width: 32px;
  min-height: 22px;
  padding: 0;
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
  background-color: var(--pressed-state);
  border-color: transparent;
}

.menu-container .menu-toggle:hover .icon-close,
.menu-container .menu-toggle:focus .icon-close {
  fill: var(--white);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu .link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--dark);
}

.mobile-menu .link.active {
  color: var(--pressed-state);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-socials-list {
  display: flex;
}

@media screen and (max-width: 427px) {
  .mobile-socials-list {
    justify-content: space-between;
  }
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-contacts .link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 428px) {
  .mobile-contacts .link.accent {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-brand);
  }

  .mobile-socials-list {
    gap: 56px;
  }
}

.menu-toggle-icon {
  stroke: black;
}
/* #endregion Mobile-menu */
